<div class="card">
    
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12">
        <section *ngFor=" let farmer of Farmer">
          <div class="container py-3" style="width:80%">
            <div class="card shadow-lg p-3 mb-5">
              <div class="row ">
                <div class="col-md-7 px-3">
                  <div class="card-block px-3">
                    <h4 class="card-title" style="margin-left:40%">Farmer Order</h4>
                    <br>
                    <div style="margin-left:20%">
                      <label class="row">Farmer Name/Group name : {{ farmer.name }}</label>
                      <label class="row">Type : {{farmer.type}} </label>
                      <label class="row">QTY : {{farmer.qty}} </label>
                      <label class="row">Address: {{farmer.address}} </label>
                    </div>
                    <br>
                  </div>

                </div>
                <div class=" col-md-3 px-3" style="margin-top:7%">
                  <table>
                    <tr>
                      <td style="padding-top:20%; padding-left:40%"><button class="btn btn-danger" (click)="remove(farmer)">Remove</button></td>
                    </tr>
                    <tr>
                      <td style="padding-top:10%; padding-left:40%"><button class="btn btn-primary" >
                          &nbsp;&nbsp;&nbsp;Accept&nbsp;&nbsp;&nbsp;&nbsp;</button></td>
                    </tr>
                    
                  </table>
                </div>

              </div>
            </div>
          </div>

        </section>
      </div>
    </div>
  </div>
</div>
